/* UTILITIES */
.flex {
    display: flex;
}

.relative {
    position: relative;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-bottom-sm {
    margin-bottom: .5rem;
}

.heigth-md {
    height: 4rem;
}

.text-align-l {
    text-align: left;
}

/* Dimensions */
.row-heigth {
    height: 20px;
}

/* BG Colors */

.bg-blue {
    background-color: #006cfa;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: #01e165;
}

/* Text-colors */

.txt-black {
    color: black;
}


