body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;
}

h1 {color: black;
font-size: 3.5rem;
text-align: center;}

/* UTILITIES */

.container {
    margin: 0 auto;
    max-width: 50%;
}

.container:active .gun{
    background-color: black;
}

.container:active .gun-shoot{
    transition-delay: .5s;
    transition-duration: 1s;
    background-color: yellow;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-bottom-sm {
    margin-bottom: .5rem;
}

.heigth-md {
    height: 4rem;
}

.text-align-l {
    text-align: left;
}

/* Dimensions */
.row-heigth {
    height: 20px;
}

/* BG Colors */

.bg-lt-blue {
    background-color: #95cadc;
}

.bg-dk-blue {
    background-color: #4f7da1;
}

.bg-lt-red {
    background-color: #b30a20;
}

.bg-dk-red {
    background-color: #65002f;
}

.bg-green {
    background-color: #01e165;
}

.bg-black {
    background-color: black;
}

.bg-grey {
    background-color: #bdbdbd;
}

/* Borders and shadows */

.light-high {
    border-top: 5px solid yellow;
}

.light-left {
    border-left: 5px solid yellow;
}

.shadow-right {
    border-right: 5px solid #7d7d7d;
}

.shadow-bottom {
    border-bottom: 5px solid #7d7d7d;
}

.tred-effect {
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid #7d7d7d;
    border-bottom: 5px solid #7d7d7d;
}

/* Text-colors */

.txt-black {
    color: black;
}


