* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 100%;
}

[class*= "col"] {
    flex: 0 0 auto;

    /* padding: 1rem; */
    /* border: 1px solid white; */
}

/* COLUMS */

.col-1 {
    flex-basis: calc((100% / 9) * 1 );
    max-width: calc((100% / 9) * 1 );
}

.col-2 {
    flex-basis: calc((100% / 9) * 2 );
    max-width: calc((100% / 9) * 2 );
}

.col-3 {
    flex-basis: calc((100% / 9) * 3 );
    max-width: calc((100% / 9) * 3 );
}

.col-4 {
    flex-basis: calc((100% / 9) * 4 );
    max-width: calc((100% / 9) * 4 );
}

.col-5 {
    flex-basis: calc((100% / 9) * 5 );
    max-width: calc((100% / 9) * 5 );
}

.col-6 {
    flex-basis: calc((100% / 9) * 6 );
    max-width: calc((100% / 9) * 6 );
}

.col-7 {
    flex-basis: calc((100% / 9) * 7 );
    max-width: calc((100% / 9) * 7 );
}

.col-8 {
    flex-basis: calc((100% / 9) * 8 );
    max-width: calc((100% / 9) * 8 );
}

.col-9 {
    flex-basis: calc((100% / 9) * 9 );
    max-width: calc((100% / 9) * 9 );
}

/* OFFSET  */

.col-offset-1 {
    margin-left: calc((100% / 9 ) * 1 );
}

.col-offset-2 {
    margin-left: calc((100% / 9) * 2 );
}

.col-offset-3 {
    margin-left: calc((100% / 9) * 3 );
}

.col-offset-4 {
    margin-left: calc((100% / 9) * 4 );
}

.col-offset-5 {
    margin-left: calc((100% / 9) * 5 );
}

.col-offset-6 {
    margin-left: calc((100% / 9) * 6 );
}

.col-offset-7 {
    margin-left: calc((100% / 9) * 7 );
}

.col-offset-8 {
    margin-left: calc((100% / 9) * 8 );
}

.col-offset-9 {
    margin-left: calc((100% / 9) * 9 );
}

/* FREE COLUMN */

.col {
    flex-grow: 1;
    flex-basis: 1;
    max-width: 100%;
}