body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;

    font-family: 'Orbitron', sans-serif;
    color: #b30a20;
}

header {
    margin-bottom: 6%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.app {
    width: 100%;
    height: 100%;
    margin: 100px 0;

    padding: 6%;
}

.time {
    text-align: center;
}

.status {
    cursor: pointer;
}

.bomb {
    display: none;
}

.status:active .bomb{
    display: inline-block;
}

.status:active .smile{
    display: none;
}

.bombed {
    display: none;
}

.col-1.tred-effect:active .bombed {
    display: inline-block;
}

h1 {
    font-size: 2.4rem;
}

/* UTILITIES */

div.row div.col-1 {
    aspect-ratio : 1 / 1;
}

main div.row div.col-1 {
    border: 1px solid #7d7d7d;
}

main div.row div.col-1.tred-effect{
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid #7d7d7d;
    border-bottom: 5px solid #7d7d7d;

    cursor: pointer;
}

.container {
    margin: 0 auto;
    max-width: 30%;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.margin-sm {
    margin: 15px;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-bottom-sm {
    margin-bottom: .5rem;
}

.heigth-md {
    height: 4rem;
}

.text-align-l {
    text-align: left;
}

/* Dimensions */
.row-heigth {
    height: 20px;
}

/* BG Colors */

.bg-lt-blue {
    background-color: #95cadc;
}

.bg-dk-blue {
    background-color: #4f7da1;
}

.bg-lt-red {
    background-color: #b30a20;
}

.bg-dk-red {
    background-color: #65002f;
}

.bg-green {
    background-color: #01e165;
}

.bg-black {
    background-color: black;
}

.bg-grey {
    background-color: #bdbdbd;
}

/* Borders and shadows */

.light-high {
    border-top: 5px solid white;
}

.light-left {
    border-left: 5px solid white;
}

.shadow-right {
    border-right: 5px solid #7d7d7d;
}

.shadow-bottom {
    border-bottom: 5px solid #7d7d7d;
}

.tred-effect {
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid #7d7d7d;
    border-bottom: 5px solid #7d7d7d;
}

.tred-effect-inverted {
    border-top: 5px solid #7d7d7d;
    border-left: 5px solid #7d7d7d;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

/* Text-colors */

.txt-red {
    color:#b30a20
}

